@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top left,
      rgba(139, 92, 246, 0.12),
      transparent 35%),
    radial-gradient(circle at bottom right,
      rgba(6, 182, 212, 0.12),
      transparent 35%),
    #050505;

  color: var(--foreground);

  font-family:
    var(--font-geist-sans),
    sans-serif;

  overflow-x: hidden;
}

/* Grid Background */

body::before {
  content: "";

  position: fixed;

  inset: 0;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.03) 1px,
      transparent 1px),
    linear-gradient(90deg,
      rgba(255, 255, 255, 0.03) 1px,
      transparent 1px);

  background-size: 80px 80px;

  pointer-events: none;

  z-index: -1;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: #6d28d9;
  border-radius: 999px;
}